on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      build-x-version:
        description: 'Build now and deploy the app'
        default: 'latest'
        required: false

jobs:
  build-and-deploy-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Docker login        
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Docker build
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/backend-user-app:latest .

      - name: Docker push to docker hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/backend-user-app:latest

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DEPLOYMENT_SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            mkdir -p ~/app
            echo "DB_HOST=${{ secrets.DB_HOST }}" > ~/app/.env
            echo "DB_USER=${{ secrets.DB_USER }}" >> ~/app/.env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> ~/app/.env
            echo "DB_NAME=${{ secrets.DB_NAME }}" >> ~/app/.env
            echo "DB_PORT=${{ secrets.DB_PORT }}" >> ~/app/.env
            cd ~/app
            docker pull ${{ secrets.DOCKER_USERNAME }}/backend-user-app:latest
            docker stop backend-user-app || true
            docker rm backend-user-app || true
            docker run --env-file .env -d --name backend-user-app -p 3000:3000 ${{ secrets.DOCKER_USERNAME }}/backend-user-app:latest

